html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inherit; }

a {
  text-decoration: none; }

* {
  margin: 0; }

.info-droite p {
  margin: 0; }

p {
  font-size: 1rem;
  line-height: 1.5rem; }

a {
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-size: 1rem;
  margin-top: 95px; }
  body ul {
    padding: 0;
    margin: 0; }

footer {
  background: #1d1d1d;
  color: #FAFAFA;
  padding: 20px 0; }
  footer .wrapper .secInfoFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .wrapper .secInfoFooter .espMS {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      footer .wrapper .secInfoFooter .espMS a {
        color: white; }
        footer .wrapper .secInfoFooter .espMS a i {
          margin-right: 5px; }
        footer .wrapper .secInfoFooter .espMS a:nth-of-type(2) {
          margin: 15px 0; }
        footer .wrapper .secInfoFooter .espMS a:hover, footer .wrapper .secInfoFooter .espMS a:focus {
          opacity: 0.75; }
    footer .wrapper .secInfoFooter .espLogo {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end; }
      footer .wrapper .secInfoFooter .espLogo .footRetour {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        footer .wrapper .secInfoFooter .espLogo .footRetour a {
          margin: 0;
          padding: 0 0 15px 0;
          color: #FAFAFA; }
          footer .wrapper .secInfoFooter .espLogo .footRetour a:hover, footer .wrapper .secInfoFooter .espLogo .footRetour a:focus {
            opacity: 0.75; }
          footer .wrapper .secInfoFooter .espLogo .footRetour a i {
            margin-right: 10px; }
      footer .wrapper .secInfoFooter .espLogo img {
        width: 100px; }
  footer .wrapper .creditRCF {
    margin: 0;
    font-size: 12px;
    text-align: center; }
  footer .en-direct {
    background-color: #E0823F;
    padding: 10px 20px;
    position: fixed;
    bottom: 248px;
    color: #FAFAFA;
    box-shadow: 0 6px 10px -6px #777777;
    transition: all 0.2s; }
    footer .en-direct:hover {
      box-shadow: 0 9px 12px -6px #777777; }

.wrapper {
  overflow: hidden; }
  .wrapper li.glide__slide {
    list-style: none;
    margin: 0 !important;
    left: 5px;
    position: relative; }
  .wrapper .glide__track {
    display: flex; }
  .wrapper .slide {
    width: 100%;
    object-fit: cover;
    position: relative; }
    .wrapper .slide .imgContainer {
      background-repeat: no-repeat;
      background-size: cover; }
    .wrapper .slide div {
      width: 100%;
      height: 65vh;
      background-position: center; }
    .wrapper .slide h6 {
      position: absolute;
      width: 70%;
      line-height: 32px;
      margin: 40px;
      bottom: 0; }
    .wrapper .slide .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.61);
      z-index: 10; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 3.125rem;
  margin-top: 0; }

h4 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 10px; }

h5 {
  font-size: 3.75rem;
  color: #E0823F;
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.75);
  margin-top: 0; }

h6 {
  font-size: 1.5rem;
  color: #fff;
  margin: 20px 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 700; }

.presRCF {
  margin: 50px 0 75px; }
  .presRCF .wrapper {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .presRCF .wrapper .secInfo h2 {
      margin-bottom: 25px; }
    .presRCF .wrapper .secInfo p {
      width: 65%; }
    .presRCF .wrapper .imgRCF .img {
      width: 400px;
      height: 250px;
      background: #E0823F; }
    .presRCF .wrapper .imgRCF figcaption {
      padding: 5px;
      background: #ffffff;
      box-shadow: 0 6px 10px -6px #777777;
      font-weight: 300;
      font-size: 0.875rem; }

.heroZone .wrapper .img {
  height: 200px;
  width: 100%;
  background: beige;
  display: flex;
  align-items: center;
  padding: 50px; }
  .heroZone .wrapper .img h3 {
    color: #FAFAFA;
    text-shadow: 2px 2px 8px #5d5d5d; }

.liste-ppea .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .liste-ppea .wrapper .listeSingCont {
    width: 100%; }
    .liste-ppea .wrapper .listeSingCont:nth-of-type(even) {
      margin: 25px 0; }
    .liste-ppea .wrapper .listeSingCont:last-of-type {
      margin-bottom: 100px; }
    .liste-ppea .wrapper .listeSingCont a {
      color: #1d1d1d; }
      .liste-ppea .wrapper .listeSingCont a .singCont {
        background: #ffffff;
        box-shadow: 0 6px 10px -6px #777777;
        display: flex;
        transition: all 0.2s; }
        .liste-ppea .wrapper .listeSingCont a .singCont:hover {
          box-shadow: 0 9px 12px -6px #777777; }
          .liste-ppea .wrapper .listeSingCont a .singCont:hover .titre {
            color: #E0823F; }
        .liste-ppea .wrapper .listeSingCont a .singCont div.image {
          width: 20%;
          background: #E0823F; }
        .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin {
          padding: 15px;
          margin-right: 150px; }
          .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin .auteur {
            font-size: 0.875rem;
            font-weight: 300;
            margin: 0; }
          .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin .titre {
            font-size: 1.875rem;
            margin-bottom: 10px; }
          .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin .description {
            width: 80%; }
        .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff {
          width: 10%;
          background: rebeccapurple;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex: 1 0 0; }
          .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff .categorie {
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 300; }
          .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff .date, .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff .heure {
            font-size: 1.125rem; }

.secEquipe {
  min-height: 85vh; }
  .secEquipe h2 {
    margin: 25px 0 0 25px; }
  .secEquipe .equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%; }
    .secEquipe .equipe .sigMem:nth-of-type(even) {
      margin: 25px 25px 25px; }
    .secEquipe .equipe .sigMem .image {
      width: 200px;
      height: 300px;
      background: #E0823F; }
    .secEquipe .equipe .sigMem p:first-of-type {
      font-weight: 600; }
    .secEquipe .equipe .sigMem p:last-of-type {
      font-size: 0.875rem;
      font-weight: 300; }

.recentPostsMos {
  margin-top: 50px; }
  .recentPostsMos a {
    color: #1d1d1d; }
    .recentPostsMos a.linkSecMos:hover h2 {
      opacity: 0.75; }
  .recentPostsMos .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .recentPostsMos .wrapper .mosGauche {
      width: 66.66%; }
    .recentPostsMos .wrapper .mosDroit {
      width: 33.33%; }
    .recentPostsMos .wrapper .recContainer h2 {
      margin-bottom: 15px; }
      .recentPostsMos .wrapper .recContainer h2 i {
        margin-right: 5px; }
    .recentPostsMos .wrapper .recContainer .recSingCont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .recentPostsMos .wrapper .recContainer .recSingCont .singCont {
        background: #ffffff;
        width: 375px;
        height: 130px;
        display: flex;
        flex-direction: row;
        box-shadow: 0 6px 10px -6px #777777;
        transition: box-shadow 0.3s; }
        .recentPostsMos .wrapper .recContainer .recSingCont .singCont:nth-of-type(odd) {
          margin: 0 25px 25px 0; }
        .recentPostsMos .wrapper .recContainer .recSingCont .singCont:hover {
          box-shadow: 0 9px 12px -6px #777777; }
          .recentPostsMos .wrapper .recContainer .recSingCont .singCont:hover h3 {
            color: #E0823F; }
        .recentPostsMos .wrapper .recContainer .recSingCont .singCont .imagePod, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .imageEm, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .imageAc {
          background: #E0823F;
          width: 110px;
          height: 130px; }
        .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinPod, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinEm, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinAc {
          padding: 10px; }
          .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinPod h4, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinEm h4, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinAc h4 {
            font-size: 0.875rem;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0; }
          .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinPod h3, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinEm h3, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinAc h3 {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 5px; }
          .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinPod p, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinEm p, .recentPostsMos .wrapper .recContainer .recSingCont .singCont .infoSinAc p {
            width: 215px; }
    .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc a {
      width: 100%; }
      .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc a:nth-of-type(even) {
        margin: 25px 0; }
    .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc .singleRecAc {
      width: 100%;
      height: 100%;
      flex-direction: column; }
      .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc .singleRecAc:nth-of-type(even) {
        margin: 25px 0;
        background: red; }
      .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc .singleRecAc:nth-of-type(odd) {
        margin: 0; }
      .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc .singleRecAc .imageAc {
        width: 100%;
        height: 71px; }
      .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc .singleRecAc .infoSinAc {
        padding: 20px; }
        .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc .singleRecAc .infoSinAc p {
          width: 350px; }

.secReL {
  min-height: 85vh; }
  .secReL h2 {
    margin: 50px 0 50px 50px; }
  .secReL .rEL {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .secReL .rEL p {
      font-size: 1.25rem;
      margin-bottom: 15px; }
      .secReL .rEL p span {
        font-weight: 600;
        font-size: 1.875rem; }
    .secReL .rEL .image {
      background: #E0823F;
      width: 800px;
      height: 100px; }

.secRecherche {
  min-height: 85vh; }
  .secRecherche .title {
    margin: 50px 0 50px 50px; }

.single-ppae {
  min-height: 75vh;
  margin: 175px 0 0 50px; }
  .single-ppae .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .single-ppae .wrapper .image {
      width: 400px;
      height: 400px;
      background: #E0823F; }
    .single-ppae .wrapper .infoSing {
      width: 50%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .single-ppae .wrapper .infoSing .info-top .date {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0; }
      .single-ppae .wrapper .infoSing .info-top .sous-date {
        font-size: 0.875rem;
        font-weight: 300;
        margin-bottom: 10px; }
      .single-ppae .wrapper .infoSing .info-top .titre {
        font-size: 2rem;
        font-weight: 600; }
      .single-ppae .wrapper .infoSing .info-top .auteur {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 15px; }
      .single-ppae .wrapper .infoSing .info-top .description {
        width: 80%; }
      .single-ppae .wrapper .infoSing .info-bottom .categorie {
        font-size: 0.875rem;
        font-weight: 300; }
      .single-ppae .wrapper .infoSing .info-bottom .player {
        width: 475px;
        height: 50px;
        background: #E0823F; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 4;
  background-color: #E0823F;
  transition: top 0.4s; }
  header.hide {
    top: -93px; }
  header .wrapper {
    position: relative;
    left: -7px;
    display: flex;
    justify-content: space-between; }
    header .wrapper .div-logo {
      display: flex;
      align-items: center; }
      header .wrapper .div-logo img {
        width: 90px; }
      header .wrapper .div-logo #hamburger-icon {
        display: none;
        color: #FAFAFA;
        width: 30px;
        height: 16px;
        position: relative; }
        header .wrapper .div-logo #hamburger-icon .line {
          display: block;
          background: #FAFAFA;
          width: 30px;
          height: 3px;
          position: absolute;
          left: 0;
          border-radius: 1.5px;
          transition: all 0.4s;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s; }
          header .wrapper .div-logo #hamburger-icon .line.line-1 {
            top: 0; }
          header .wrapper .div-logo #hamburger-icon .line.line-2 {
            top: 50%; }
          header .wrapper .div-logo #hamburger-icon .line.line-3 {
            top: 100%; }
        header .wrapper .div-logo #hamburger-icon:hover .line-1, header .wrapper .div-logo #hamburger-icon:focus .line-1 {
          transform: translateY(-1.5px);
          -webkit-transform: translateY(-1.5px);
          -moz-transform: translateY(-1.5px); }
        header .wrapper .div-logo #hamburger-icon:hover .line-3, header .wrapper .div-logo #hamburger-icon:focus .line-3 {
          transform: translateY(1.5px);
          -webkit-transform: translateY(1.5px);
          -moz-transform: translateY(1.5px); }
        header .wrapper .div-logo #hamburger-icon.active .line-1 {
          transform: translateY(8px) translateX(0) rotate(45deg);
          -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
          -moz-transform: translateY(8px) translateX(0) rotate(45deg); }
        header .wrapper .div-logo #hamburger-icon.active .line-2 {
          opacity: 0; }
        header .wrapper .div-logo #hamburger-icon.active .line-3 {
          transform: translateY(-8px) translateX(0) rotate(-45deg);
          -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
          -moz-transform: translateY(-8px) translateX(0) rotate(-45deg); }
      header .wrapper .div-logo a {
        margin: 0.5em 1.5em;
        display: inline-block; }
        header .wrapper .div-logo a:hover, header .wrapper .div-logo a:focus {
          color: #FAFAFA; }
    header .wrapper nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      header .wrapper nav ul li {
        list-style: none; }
        header .wrapper nav ul li a {
          color: #FAFAFA; }
          header .wrapper nav ul li a i {
            margin-left: 3px;
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1); }
    header .wrapper .main-menu ul {
      padding: 15px 0; }
      header .wrapper .main-menu ul li {
        padding: 5px 10px;
        transition: all 0.5s;
        border-right: 1px #FAFAFA solid; }
        header .wrapper .main-menu ul li:hover {
          background-color: rgba(255, 255, 255, 0.2); }
        header .wrapper .main-menu ul li:last-of-type {
          border: 1px #FAFAFA solid;
          padding: 5px 10px;
          margin-left: 10px; }
        header .wrapper .main-menu ul li:nth-child(5) {
          border: none; }
        header .wrapper .main-menu ul li a {
          text-transform: uppercase;
          width: 100%;
          height: 100%; }
    header .wrapper .sub-menu ul {
      padding-top: 15px; }
      header .wrapper .sub-menu ul li {
        padding: 0 15px; }
        header .wrapper .sub-menu ul li:last-of-type {
          padding: 0 0 0 15px; }

.nav-ppea {
  margin: 25px 0 50px; }
  .nav-ppea .wrapper {
    border-bottom: 2px solid #1d1d1d; }
  .nav-ppea ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .nav-ppea ul a {
      margin: 0 20px;
      color: #1d1d1d;
      transition: all 0.2s; }
      .nav-ppea ul a:hover, .nav-ppea ul a:focus {
        color: #E0823F; }
      .nav-ppea ul a li {
        font-size: 1.375rem; }

footer .wrapper .footer-menu {
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .wrapper .footer-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none; }
    footer .wrapper .footer-menu ul li {
      margin: 0 30px; }
      footer .wrapper .footer-menu ul li a {
        color: white; }
        footer .wrapper .footer-menu ul li a i {
          margin-right: 5px; }
        footer .wrapper .footer-menu ul li a:hover, footer .wrapper .footer-menu ul li a:focus {
          opacity: 0.75; }

.wrapper {
  width: 1280px;
  margin: 0 auto;
  max-width: 100%; }

@media (max-width: 1280px) {
  body .wrapper {
    width: 900px; }
  body .presRCF .wrapper {
    padding: 0; }
  body .recentPostsMos .wrapper .mosDroit {
    width: 50%; }
  body .recentPostsMos .wrapper .mosGauche {
    width: 50%; }
  body footer .wrapper .footer-menu ul {
    flex-wrap: wrap;
    justify-content: center; }
    body footer .wrapper .footer-menu ul li {
      padding: 10px 0; }
  .heroZone .wrapper .img {
    height: 200px;
    width: 100%;
    background: beige;
    display: flex;
    align-items: center;
    padding: 50px; }
    .heroZone .wrapper .img h3 {
      color: #FAFAFA;
      text-shadow: 2px 2px 8px #5d5d5d; }
  .heroZone .wrapper .img {
    height: 200px;
    width: 100%;
    background: beige;
    display: flex;
    align-items: center;
    padding: 50px; }
    .heroZone .wrapper .img h3 {
      color: #FAFAFA;
      text-shadow: 2px 2px 8px #5d5d5d; }
  .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin {
    padding-right: 0;
    margin-right: 0; }
    .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin .description {
      width: 70%; }
  .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff {
    width: 15%; }
  .secEquipe h2 {
    margin: 25px 0 0 0; }
  .secEquipe .equipe {
    width: 100%; }
  .secReL {
    min-height: 50vh; }
    .secReL h2 {
      margin: 50px 0 50px 0; }
    .secReL .rEL {
      margin-left: 50px; } }

@media (max-width: 900px) {
  body header .wrapper {
    left: 0; }
    body header .wrapper .div-logo {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      body header .wrapper .div-logo a {
        margin: 20px 0; }
      body header .wrapper .div-logo #hamburger-icon {
        display: block; }
  body .wrapper.slider {
    padding: 0; }
  body .presRCF .wrapper {
    padding: 0 20px; }
    body .presRCF .wrapper .secInfo {
      width: 50%;
      margin-right: 20px; }
      body .presRCF .wrapper .secInfo p {
        width: 100%; }
    body .presRCF .wrapper .imgRCF {
      width: 50%; }
      body .presRCF .wrapper .imgRCF figure .img {
        width: 100%; }
  body .wrapper {
    width: 100%;
    padding: 0 20px; }
  body .main-header.open {
    height: 342px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px; }
    body .main-header.open .sub-menu {
      display: block;
      transition: opacity 0.5s;
      opacity: 100; }
    body .main-header.open .main-menu {
      display: block;
      transition: opacity 0.5s;
      opacity: 100; }
  body .main-header.close {
    height: 96px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
    body .main-header.close .sub-menu {
      opacity: 0; }
    body .main-header.close .main-menu {
      opacity: 0; }
  body .nav-ppea {
    margin-bottom: 25px; }
  body .liste-ppea {
    padding: 10px; }
    body .liste-ppea .wrapper .listeSingCont a .singCont div.image {
      width: 25%; }
    body .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin {
      width: 55%;
      padding-right: 0;
      margin-right: 0; }
      body .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin .description {
        width: 70%; }
    body .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff {
      width: 15%; }
  body .secEquipe {
    padding: 0 25px; }
    body .secEquipe h2 {
      margin: 25px 0 0 0; }
    body .secEquipe .equipe {
      width: 100%; }
  body .secReL {
    padding: 0 25px; }
    body .secReL h2 {
      margin: 50px 0 25px 0; }
    body .secReL .rEL {
      margin-left: 25px; }
  body .main-header {
    transition: all 0.25s; }
    body .main-header .wrapper {
      flex-direction: column; }
      body .main-header .wrapper .menu {
        display: flex;
        justify-content: space-evenly; }
        body .main-header .wrapper .menu .main-menu ul, body .main-header .wrapper .menu .sub-menu ul {
          flex-direction: column; }
          body .main-header .wrapper .menu .main-menu ul li, body .main-header .wrapper .menu .sub-menu ul li {
            align-self: flex-start;
            border: none;
            padding: 5px; }
        body .main-header .wrapper .menu .main-menu {
          order: -1; }
          body .main-header .wrapper .menu .main-menu li:last-of-type {
            border: #FAFAFA 1px solid;
            margin: 20px 0; }
  body .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc a {
    width: 47.5%; }
    body .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc a:nth-of-type(even) {
      margin: 0px; }
  body .recentPostsMos a {
    width: 47.5%; }
  body .recentPostsMos .wrapper {
    flex-direction: column; }
    body .recentPostsMos .wrapper .mosGauche {
      width: 100%; }
    body .recentPostsMos .wrapper .mosDroit {
      width: 100%; }
      body .recentPostsMos .wrapper .mosDroit .recSingCont a {
        margin: 20px 0 !important; }
    body .recentPostsMos .wrapper .recContainer .recSingCont .singCont:nth-of-type(odd) {
      margin: 20px auto; }
    body .recentPostsMos .wrapper .recContainer .recSingCont {
      justify-content: space-between; }
  body .recentPostsMos .wrapper .recContainer .recSingCont .singCont {
    width: auto; }
  body footer .wrapper {
    padding: 0 30px; }
    body footer .wrapper .secInfoFooter {
      justify-content: space-between; }
      body footer .wrapper .secInfoFooter .espMS, body footer .wrapper .secInfoFooter .footer-menu {
        align-items: flex-start;
        justify-content: flex-start; }
      body footer .wrapper .secInfoFooter .espMS a:nth-of-type(1) {
        padding-top: 10px;
        text-align: left; }
      body footer .wrapper .secInfoFooter .footer-menu {
        order: -1; }
        body footer .wrapper .secInfoFooter .footer-menu ul {
          flex-wrap: nowrap;
          flex-direction: column;
          align-items: flex-start; }
          body footer .wrapper .secInfoFooter .footer-menu ul li {
            text-align: left;
            margin: 0; }
      body footer .wrapper .secInfoFooter .espLogo {
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0; }
  .single-ppae .wrapper .infoSing .info-bottom .player {
    width: 300px; } }

@media (max-width: 768px) {
  .nav-ppea ul a li {
    font-size: 1.25rem; }
  .liste-ppea {
    padding: 10px; }
    .liste-ppea .wrapper .listeSingCont a .singCont div.image {
      width: 25%; }
    .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin {
      padding-right: 0;
      margin-right: 0; }
      .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin .description {
        width: 75%;
        margin: 0; }
    .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff {
      width: 20%; }
      .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff p.categorie, .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff p.heure {
        text-align: center; }
  .secEquipe h2 {
    margin: 50px 0 25px; }
  .secEquipe .equipe {
    justify-content: space-between; }
    .secEquipe .equipe .sigMem:nth-of-type(odd) {
      margin: 0 0 10px 0; }
    .secEquipe .equipe .sigMem:nth-of-type(even) {
      margin: 0 0 10px 0; }
  .secReL h2 {
    margin: 50px 0 25px 0; }
  .secReL .rEL {
    margin-left: 25px; }
    .secReL .rEL .image {
      width: 650px; } }

@media (max-width: 480px) {
  body .nav-ppea {
    margin: 25px 0 25px; }
    body .nav-ppea .wrapper {
      border-bottom: none; }
    body .nav-ppea ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      body .nav-ppea ul a {
        margin: 10px 10px;
        color: #1d1d1d;
        transition: all 0.2s; }
        body .nav-ppea ul a:hover, body .nav-ppea ul a:focus {
          color: #E0823F; }
        body .nav-ppea ul a li {
          font-size: 1.375rem; }
  body .liste-ppea {
    padding: 10px; }
    body .liste-ppea .wrapper .listeSingCont a .singCont {
      flex-direction: column; }
      body .liste-ppea .wrapper .listeSingCont a .singCont div.image {
        height: 120px;
        width: 100%; }
      body .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin {
        width: 100%;
        padding-right: 0;
        margin-right: 0; }
        body .liste-ppea .wrapper .listeSingCont a .singCont div.infoSin .description {
          width: 100%;
          margin: 0; }
      body .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff {
        margin-top: 20px;
        padding: 15px 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        body .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff p.heure, body .liste-ppea .wrapper .listeSingCont a .singCont div.infoDiff p.date {
          font-size: 1.125rem; }
  body .secEquipe h2 {
    font-size: 1.625rem;
    text-align: center;
    margin: 75px 0 50px; }
  body .secEquipe .equipe {
    padding: 0 25px;
    justify-content: center; }
    body .secEquipe .equipe .sigMem:nth-of-type(odd) {
      margin: 0 0 10px 0; }
    body .secEquipe .equipe .sigMem:nth-of-type(even) {
      margin: 0 0 10px 0; }
  body .secReL h2 {
    font-size: 1.625rem;
    margin: 75px 0 25px 0; }
  body .secReL .rEL {
    margin-left: 0; }
    body .secReL .rEL span {
      display: block; }
    body .secReL .rEL .image {
      width: 300px;
      height: 50px; }
  body .single-ppae {
    margin: 150px 0 0 0;
    padding: 10px; }
    body .single-ppae .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .single-ppae .wrapper .image {
        width: 100%;
        height: 350px;
        background: #E0823F; }
      body .single-ppae .wrapper .infoSing {
        width: 100%;
        margin: 15px 0 0 0; }
        body .single-ppae .wrapper .infoSing .info-top .description {
          width: 100%;
          margin-bottom: 15px; }
        body .single-ppae .wrapper .infoSing .info-bottom .categorie {
          font-size: 0.875rem;
          font-weight: 300; }
        body .single-ppae .wrapper .infoSing .info-bottom .player {
          width: 475px;
          height: 50px;
          background: #E0823F;
          margin-bottom: 25px; }
  body .main-header.open {
    height: 90vh; }
  body .main-header .wrapper .menu {
    flex-direction: column;
    padding: 0 30px; }
    body .main-header .wrapper .menu ul {
      align-items: center; }
  body .presRCF .wrapper {
    flex-direction: column; }
    body .presRCF .wrapper .secInfo {
      width: 100%;
      margin-right: 0; }
      body .presRCF .wrapper .secInfo p {
        width: 100%;
        margin-bottom: 10px; }
    body .presRCF .wrapper .imgRCF {
      width: 100%; }
      body .presRCF .wrapper .imgRCF figure .img {
        width: 100%; }
  body .recentPostsMos .wrapper a {
    width: 100%; }
  body .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc a {
    width: 100%; }
  body footer .wrapper {
    padding-bottom: 30px; }
    body footer .wrapper .secInfoFooter {
      flex-direction: column; }
      body footer .wrapper .secInfoFooter .espMS {
        margin: 10px 0; }
  body footer .en-direct {
    bottom: 0;
    right: 0; } }

section.partenaires {
  margin: 75px 0 100px; }
  section.partenaires h2 {
    text-align: center;
    margin-bottom: 25px; }
  section.partenaires .espPartenaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    section.partenaires .espPartenaire .singPartenaire .imgPart {
      width: 250px;
      height: 250px;
      background: #E0823F; }
    section.partenaires .espPartenaire .singPartenaire .tagPart {
      text-align: center;
      font-weight: 300; }
    section.partenaires .espPartenaire .singPartenaire:nth-of-type(odd) {
      margin: 0 25px; }
