//Font Family
$Roboto : 'Roboto', sans-serif;

//font-size
$font-size-text:rem(16);
$font-size-height:rem(24);


.info-droite p{

    margin:0;
}

p{
  font-size: rem(16);
  line-height: rem(24);
}
a {
  text-decoration: none;
}


