html{
  scroll-behavior: smooth;
}

body{
  font-family: $Roboto;
  font-weight: 400;
  margin: 0;
  padding: 0;

  background: $white;


  font-size: $font-size-text;

  margin-top: 95px;
  ul{
    padding: 0;
    margin: 0;
  }
}
