
.wrapper{

  overflow: hidden;

  li.glide__slide{
    list-style: none;
    margin: 0!important;
    left: 5px;
    position: relative;

  }



  .glide__track{

    display: flex;

  }

  .slide{

    .imgContainer{
      background-repeat: no-repeat;
      background-size: cover;
    }


    width: 100%;
    object-fit: cover;

    position: relative;

    div{
      width: 100%;
      height: 65vh;
      background-position: center;




    }


    h6{
      position:absolute;
      width: 70%;
      line-height: 32px;
      margin: 40px;
      bottom: 0;



    }

    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.61);
      z-index: 10;
    }

  }

}
