.secEquipe{
  min-height: 85vh;

  h2{
    margin: 25px 0 0 25px;
  }


  .equipe{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    margin:0 auto;
    width: 60%;

    .sigMem{
      &:nth-of-type(even){
        margin: 25px 25px 25px ;
      }
      //&:nth-of-type(odd){
      //  margin: 0 25px;
      //}
      .image{
        width: 200px;
        height: 300px;

        background: $color-accent-primary;
      }
      p:first-of-type{
        font-weight:600;
      }
      p:last-of-type{
        font-size:rem(14);
        font-weight:300;
      }
    }
  }
}