footer {
  background: $black;
  color: $white;

  padding: 20px 0;

  .wrapper {

    .secInfoFooter{

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .espMS {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        a {
          i {
            margin-right: 5px;
          }

          color: white;

          &:nth-of-type(2) {
            margin: 15px 0;
          }

          &:hover, &:focus {
            opacity: 0.75;
          }
        }
      }

      .espLogo {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;


        .footRetour {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          a {
            margin: 0;
            padding: 0 0 15px 0;
            color: $white;

            &:hover, &:focus{
              opacity: 0.75;
            }
            i {
              margin-right: 10px;
            }

          }
        }

        img {
          width: 100px;
        }
      }
    }

    .creditRCF{
      margin: 0;

      font-size: 12px;
      text-align: center;
    }




  }

.en-direct{

  background-color: $color-accent-primary;
  padding: 10px 20px;
  position: fixed;bottom: 248px;
  color: $white;
  box-shadow: 0 6px 10px -6px #777777;
  transition: all 0.2s;

  &:hover{
    box-shadow: 0 9px 12px -6px #777777;

  }

}

}