h1{
  font-size: rem(40);
}
h2{
  font-size: rem(32);
}
h3{
  font-size: rem(50);
  margin-top: 0;
}
h4{
  font-size: rem(28);
  font-weight: bold;

  margin-bottom: 10px;
}
h5{
  font-size: rem(60);
  color: $color-accent-primary;
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.75);
  margin-top: 0;

}
h6{
  font-size: rem(24);
  color: #fff;
  margin: 20px 0;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1;
  font-weight: 700;
}