@media (max-width: 1280px) {

  body {

    .wrapper {
      width: 900px;
    }

    .presRCF {
      .wrapper {
        padding: 0;
      }
    }

    .recentPostsMos {
      .wrapper {
        .mosDroit {
          width: 50%;
        }
        .mosGauche {
          width: 50%;
        }
      }
    }

    footer {
      .wrapper {
        .footer-menu {
          ul {
            flex-wrap: wrap;
            justify-content: center;
            li {
              padding: 10px 0;
            }
          }
        }
      }
    }
  }

  .heroZone {

    .wrapper {
      .img {
        height: 200px;
        width: 100%;

        background: beige;

        display: flex;
        align-items: center;

        padding: 50px;
        h3 {
          color: $white;
          text-shadow: 2px 2px 8px #5d5d5d;
        }
      }
    }
  }

  .heroZone {

    .wrapper {
      .img {
        height: 200px;
        width: 100%;

        background: beige;

        display: flex;
        align-items: center;

        padding: 50px;
        h3 {
          color: $white;
          text-shadow: 2px 2px 8px #5d5d5d;
        }
      }
    }
  }

  .liste-ppea {
    .wrapper {
      .listeSingCont {
        a {
          .singCont {
            div.infoSin {
              padding-right: 0;
              margin-right: 0;
              .description {
                width: 70%;
              }
            }

            div.infoDiff {
              width: 15%;
            }
          }
        }

      }
    }

  }

  .secEquipe {

    h2 {
      margin: 25px 0 0 0;
    }

    .equipe {
      width: 100%;
    }
  }

  .secReL {
    min-height: 50vh;

    h2 {
      margin: 50px 0 50px 0;
    }
    .rEL {
      margin-left: 50px;

    }

  }

}

@media (max-width: 900px) {

  body {
    header {
      .wrapper {
        left: 0;
        .div-logo {
          a {
            margin: 20px 0;
          }
          width: 100%;
          display: flex;
          justify-content: space-between;
          #hamburger-icon {
            display: block;
          }
        }
      }
    }
    .wrapper.slider {
      padding: 0;
    }

    .presRCF {

      .wrapper {
        padding: 0 20px;
        .secInfo {
          width: 50%;
          margin-right: 20px;

          p {
            width: 100%;

          }
        }

        .imgRCF {
          width: 50%;

          figure {

            .img {
              width: 100%;
            }

          }
        }
      }

    }

    .wrapper {
      width: 100%;
      padding: 0 20px;
    }

    .main-header.open {
      height: 342px;
      border-bottom-right-radius: 200px;
      border-bottom-left-radius: 200px;

      .sub-menu {

        display: block;
        transition: opacity 0.5s;
        opacity: 100;

      }
      .main-menu {

        display: block;
        transition: opacity 0.5s;
        opacity: 100;

      }

    }

    .main-header.close {
      height: 96px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      .sub-menu {

        //display: none;
        //transition: opacity 0.5s;
        opacity: 0;

      }
      .main-menu {

        //display: none;
        //transition: opacity 0.5s;
        opacity: 0;

      }

    }

    .nav-ppea {
      margin-bottom: 25px;
    }

    .liste-ppea {
      padding: 10px;

      .wrapper {
        .listeSingCont {
          a {
            .singCont {

              div.image {
                width: 25%;
              }

              div.infoSin {
                width: 55%;
                padding-right: 0;
                margin-right: 0;
                .description {
                  width: 70%;
                }
              }

              div.infoDiff {
                width: 15%;
              }
            }
          }

        }
      }

    }

    .secEquipe {

      padding: 0 25px;
      h2 {
        margin: 25px 0 0 0;
      }

      .equipe {
        width: 100%;
      }
    }
    .secReL {
      padding: 0 25px;

      h2 {
        margin: 50px 0 25px 0;
      }
      .rEL {
        margin-left: 25px;

      }

    }

    .main-header {
      transition: all 0.25s;

      .wrapper {
        flex-direction: column;
        .menu {
          display: flex;
          justify-content: space-evenly;

          .main-menu, .sub-menu {
            ul {
              flex-direction: column;
              li {
                align-self: flex-start;
                border: none;
                padding: 5px;
              }
            }
          }

          .main-menu {
            order: -1;

            li:last-of-type {

              border: $white 1px solid;

              margin: 20px 0;
            }
          }

        }
      }
    }
    .recentPostsMos .wrapper .recContainer.recentActualite .secSingleAc a {
      width: 47.5%;

      &:nth-of-type(even) {
        margin: 0px;
      }
    }

    .recentPostsMos {
      a {
        width: 47.5%;

      }
      .wrapper {
        flex-direction: column;
        .mosGauche {
          width: 100%;
        }

        .mosDroit {
          width: 100%;

          .recSingCont {
            a {
              margin: 20px 0 !important;
            }

          }

        }

        .recContainer .recSingCont .singCont:nth-of-type(odd) {
          margin: 20px auto;
        }
        .recContainer {
          .recSingCont {

            justify-content: space-between;

          }
        }
      }
    }

    .recentPostsMos .wrapper .recContainer .recSingCont .singCont {
      width: auto;
    }

    footer {
      .wrapper {
        padding: 0 30px;

        .secInfoFooter {
          justify-content: space-between;

          .espMS, .footer-menu {
            align-items: flex-start;
            justify-content: flex-start;

          }
          .espMS {
            //width: 28%;

            a:nth-of-type(1) {
              padding-top: 10px;
              text-align: left;
            }

          }

          .footer-menu {
            //width: 44%;

            order: -1;
            ul {
              flex-wrap: nowrap;
              flex-direction: column;
              align-items: flex-start;

              li {
                text-align: left;
                margin: 0;
              }

            }
          }
          .espLogo {
            //width: 28%;
            align-items: center;
            justify-content: flex-start;
            margin: 10px 0;
          }
        }

      }
    }
  }

  .single-ppae {
    .wrapper {
      .infoSing {
        .info-bottom {
          .player {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .nav-ppea {
    ul {
      a {
        li {
          font-size: rem(20);
        }
      }

    }
  }

  .liste-ppea {
    padding: 10px;

    .wrapper {
      .listeSingCont {
        a {
          .singCont {

            div.image {
              width: 25%;
            }

            div.infoSin {

              padding-right: 0;
              margin-right: 0;
              .description {
                width: 75%;
                margin: 0;
              }
            }

            div.infoDiff {
              width: 20%;

              p.categorie, p.heure {
                text-align: center;
              }
            }
          }
        }

      }
    }

  }

  .secEquipe {
    h2 {
      margin: 50px 0 25px;
    }
    .equipe {
      justify-content: space-between;
      .sigMem {

        &:nth-of-type(odd) {
          margin: 0 0 10px 0;
        }
        &:nth-of-type(even) {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .secReL {
    h2 {
      margin: 50px 0 25px 0;
    }
    .rEL {
      margin-left: 25px;

      .image {
        width: 650px;
      }

    }

  }

}

@media (max-width: 480px) {

  body {
    .nav-ppea {
      margin: 25px 0 25px;

      .wrapper {
        border-bottom: none;

      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;

        a {
          margin: 10px 10px;

          color: $black;

          transition: all 0.2s;

          &:hover, &:focus {
            color: $color-accent-primary;
          }

          li {
            font-size: rem(22);

          }
        }

      }
    }

    .liste-ppea {
      padding: 10px;

      .wrapper {
        .listeSingCont {
          a {
            .singCont {

              flex-direction: column;

              div.image {
                height: 120px;
                width: 100%;
              }

              div.infoSin {
                width: 100%;

                padding-right: 0;
                margin-right: 0;
                .description {
                  width: 100%;
                  margin: 0;
                }
              }

              div.infoDiff {
                margin-top: 20px;
                //height: 100px;
                padding: 15px 10px;

                width: 100%;

                display: flex;
                flex-direction: row;
                //justify-content: center;
                align-items: center;
                justify-content: space-between;

                p.heure, p.date {
                  font-size: rem(18);
                }
              }
            }
          }

        }
      }

    }

    .secEquipe {
      h2 {
        font-size: rem(26);
        text-align: center;
        margin: 75px 0 50px;
      }
      .equipe {
        padding: 0 25px;
        justify-content: center;
        .sigMem {

          &:nth-of-type(odd) {
            margin: 0 0 10px 0;
          }
          &:nth-of-type(even) {
            margin: 0 0 10px 0;
          }
        }
      }
    }

    .secReL {
      h2 {
        font-size: rem(26);
        margin: 75px 0 25px 0;
      }
      .rEL {
        margin-left: 0;

        span {
          display: block;
        }

        .image {
          width: 300px;
          height: 50px;
        }

      }

    }

    .single-ppae {

      margin: 150px 0 0 0;

      padding: 10px;

      .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .image {
          width: 100%;
          height: 350px;

          background: $color-accent-primary;
        }

        .infoSing {
          width: 100%;

          margin: 15px 0 0 0;

          .info-top {

            .description {
              width: 100%;
              margin-bottom: 15px;
            }
          }

          .info-bottom {
            .categorie {
              font-size: rem(14);
              font-weight: 300;
            }
            .player {
              width: 475px;
              height: 50px;
              background: $color-accent-primary;

              margin-bottom: 25px;
            }
          }

        }
      }
    }

    .main-header {
      &.open {
        height: 90vh;
      }

      .wrapper {

        .menu {
          flex-direction: column;
          padding: 0 30px;

          ul {
            align-items: center;
          }
        }
      }

    }

    .presRCF {
      .wrapper {
        flex-direction: column;
        .secInfo {
          width: 100%;
          margin-right: 0;

          p {
            width: 100%;
            margin-bottom: 10px;

          }
        }

        .imgRCF {
          width: 100%;

          figure {

            .img {
              width: 100%;
            }

          }
        }
      }

    }

    .recentPostsMos {

      .wrapper {
        a {
          width: 100%;
        }

        .recContainer.recentActualite .secSingleAc a {
          width: 100%;
        }
      }

    }
    footer {
      .wrapper {

        .secInfoFooter {
          flex-direction: column;

          .espMS{
            margin: 10px 0;
          }

        }
        padding-bottom: 30px ;




      }
      .en-direct{
        bottom: 0;
        right: 0;
      }

    }

  }

}

