.recentPostsMos{

  margin-top: 50px;
  //height: 100vh;
  a{
    color: $black;

    &.linkSecMos:hover{

      h2{
        opacity: 0.75;

      }
    }
  }

  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .mosGauche{
      width: 66.66%;
    }
    .mosDroit{
      width: 33.33%;
    }

    .recContainer{
      //width: 66%;

      h2{
        margin-bottom: 15px;

        i{
          margin-right: 5px;
        }
      }

      .recSingCont{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        .singCont{
          background: $bg_single;

          width:375px;
          height: 130px;

          display: flex;
          flex-direction: row;

          box-shadow: 0 6px 10px -6px #777777;

          transition: box-shadow 0.3s ;

          &:nth-of-type(odd){
            margin: 0 25px 25px 0;
          }

          &:hover{
            box-shadow: 0 9px 12px -6px #777777;

            h3{
              color: $color-accent-primary;
            }
          }

          .imagePod, .imageEm, .imageAc{
            background: $color-accent-primary;
            width: 110px;
            height: 130px;
          }

          .infoSinPod, .infoSinEm, .infoSinAc{
            padding: 10px;

            h4{
              font-size:rem(14);
              font-weight: 300;
              text-transform: uppercase;

              margin: 0;
            }

            h3{
              font-size:rem(20);
              font-weight:600;

              margin-bottom: 5px;
            }

            p{
              width: 215px;
            }
          }
        }
      }




      &.recentActualite{

        .secSingleAc{

          a{
            width: 100%;

            &:nth-of-type(even){
              margin: 25px 0;
            }
          }



          .singleRecAc{
            width: 100%;
            height: 100%;

            flex-direction: column;

            &:nth-of-type(even){
              margin: 25px 0;

              background: red;
            }
            &:nth-of-type(odd){
              margin: 0;
            }

            .imageAc{
              width: 100%;
              height: 71px;
            }

            .infoSinAc{
              padding: 20px;

              p{
                width: 350px;
              }
            }
          }
        }

      }
    }
  }
}