header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 4;
  background-color: $color-accent-primary;

  transition: top 0.4s;

  &.hide {

    top: -93px;

  }

  .wrapper {
    position: relative;
    left: -7px;
    display: flex;
    justify-content: space-between;

    .div-logo {
      display: flex;
      align-items: center;
      img {
        width: 90px;
      }




      $height-icon: 16px;
      $width-line: 30px;
      $height-line:3px;

      $transition-time: 0.4s;
      $rotation: 45deg;
      $translateY: ($height-icon / 2);
      $translateX: 0;


      #hamburger-icon {
        display: none;
        color: $white;
        width:$width-line;
        height:$height-icon;
        position:relative;


        .line {
          display:block;
          background:$white;
          width:$width-line;
          height:$height-line;
          position:absolute;
          left:0;
          border-radius:($height-line / 2);
          transition: all $transition-time;
          -webkit-transition: all $transition-time;
          -moz-transition: all $transition-time;

          &.line-1 {
            top:0;
          }
          &.line-2 {
            top:50%;
          }
          &.line-3 {
            top:100%;
          }
        }
        &:hover, &:focus {
          .line-1 {
            transform: translateY($height-line / 2 * -1);
            -webkit-transform: translateY($height-line / 2 * -1);
            -moz-transform: translateY($height-line / 2 * -1);
          }
          .line-3 {
            transform: translateY($height-line / 2);
            -webkit-transform: translateY($height-line / 2);
            -moz-transform: translateY($height-line / 2);
          }
        }
        &.active {
          .line-1 {
            transform: translateY($translateY) translateX($translateX) rotate($rotation);
            -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
            -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
          }
          .line-2 {
            opacity:0;
          }
          .line-3 {
            transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
            -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
            -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
          }
        }
      }

      a {
        margin: 0.5em 1.5em;
        display:inline-block;
        &:hover, &:focus {
          color:$white;
        }
      }

    }

    nav {
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
          list-style: none;
          a {
            color: $white;

            i {
              margin-left: 3px;
              -moz-transform: scale(-1, 1);
              -webkit-transform: scale(-1, 1);
              -o-transform: scale(-1, 1);
              -ms-transform: scale(-1, 1);
              transform: scale(-1, 1);
            }

          }
        }
      }

    }

    .main-menu {

      ul {

        padding: 15px 0;

        li {
          padding: 5px 10px;
          transition: all 0.5s;
          border-right: 1px $white solid;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }

          &:last-of-type {
            border: 1px $white solid;
            padding: 5px 10px;
            margin-left: 10px;
          }

          &:nth-child(5) {
            border: none;
          }

          a {
            text-transform: uppercase;
            width: 100%;
            height: 100%;

          }
        }
      }

    }

    .sub-menu {

      ul {
        padding-top: 15px;

        li {

          padding: 0 15px;

          &:last-of-type {
            padding: 0 0 0 15px;
          }

        }
      }
    }

  }

}

.nav-ppea {
  margin: 25px 0 50px;

  .wrapper {
    border-bottom: 2px solid $black;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    a {
      margin: 0 20px;

      color: $black;

      transition: all 0.2s;

      &:hover, &:focus {
        color: $color-accent-primary;
      }

      li {
        font-size: rem(22);
      }
    }

  }
}

footer {
  .wrapper {

    .footer-menu {
      display: flex;
      align-items: center;
      justify-content: center;

      ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        list-style: none;

        li {

          margin: 0 30px;

          a {
            i {
              margin-right: 5px;
            }

            color: white;

            &:hover, &:focus {
              opacity: 0.75;
            }
          }
        }
      }

    }

  }



}

