section.partenaires{
  margin: 75px 0 100px;

  h2{
    text-align: center;

    margin-bottom: 25px;
  }

  .espPartenaire{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .singPartenaire{
      .imgPart{
        width: 250px;
        height: 250px;

        background: $color-accent-primary;


      }

      .tagPart{
        text-align: center;
        font-weight:300;
      }


      &:nth-of-type(odd){
        margin: 0 25px;
      }
    }

  }
}