.heroZone{

  .wrapper{
    .img{
      height: 200px;
      width: 100%;

      background: beige;

      display: flex;
      align-items: center;

      padding: 50px;
      h3{
        color: $white;
        text-shadow: 2px 2px 8px #5d5d5d;
      }
    }
  }
}


.liste-ppea{
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .listeSingCont{
      width: 100%;

      &:nth-of-type(even){
        margin: 25px 0;
      }

      &:last-of-type{
         margin-bottom: 100px;
      }

      a{
        color: $black;




        .singCont{

          //height: 150px;

          background: $bg_single;
          box-shadow: 0 6px 10px -6px #777777;

          display: flex;
          //justify-content: space-between;

          transition: all 0.2s;

          &:hover{
            box-shadow: 0 9px 12px -6px #777777;

            .titre{
              color: $color-accent-primary;
            }
          }

          div.image{
            width: 20%;
            background: $color-accent-primary;
          }

          div.infoSin{
            padding: 15px;

            margin-right: 150px;

            .auteur{
              font-size:rem(14);
              font-weight:300;

              margin: 0;
            }
            .titre{
              font-size:rem(30);
              margin-bottom: 10px;
            }
            .description{
              width: 80%;
            }
          }

          div.infoDiff{
            width: 10%;
            background: rebeccapurple;

            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            flex: 1 0 0;

            .categorie{
              font-size:rem(14);
              text-transform: uppercase;

              font-weight:300;
            }
            .date, .heure{
              font-size:rem(18);
            }
          }
        }
      }

    }
  }

}