.secReL{
  min-height: 85vh;

  h2{
    margin: 50px 0 50px 50px;
  }


  .rEL{
    margin-left: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-size:rem(20);
      margin-bottom: 15px;

      span{
        font-weight:600;
        font-size:rem(30);
      }
    }

    .image{
      background: $color-accent-primary;
      width: 800px;
      height: 100px;
    }
  }

}