/// ============== PAGE ACCUEIL ==================///

.presRCF{
  margin: 50px 0 75px;
  .wrapper{
    padding: 0 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .secInfo{
      h2{
        margin-bottom: 25px;
      }
      p{
        width: 65%;
        //line-height: 125%;
      }
    }

    .imgRCF{

      .img{
        width: 400px;
        height: 250px;

        background: $color-accent-primary;
      }

      figcaption{
        padding: 5px;

        background: $bg_single;

        box-shadow: 0 6px 10px -6px #777777;

        font-weight:300;
        font-size:rem(14);
      }
    }
  }
}