.single-ppae{
  min-height:75vh;



  margin: 175px 0 0 50px;

  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;


    .image{
      width: 400px;
      height: 400px;

      background: $color-accent-primary;
    }

    .infoSing{
      width: 50%;

      margin-left: 50px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;


      .info-top{
        .date{
          font-size:rem(16);
          font-weight:300;
          text-transform: uppercase;

          margin: 0;
        }
        .sous-date{
          font-size:rem(14);
          font-weight:300;

          margin-bottom: 10px;
        }
        .titre{
          font-size:rem(32);
          font-weight:600;
        }
        .auteur{
          font-size:rem(16);
          font-weight:300;

          margin-bottom: 15px;
        }
        .description{
          width: 80%;
        }
      }

      .info-bottom{
        .categorie{
          font-size:rem(14);
          font-weight:300;
        }
        .player{
          width: 475px;
          height: 50px;
          background: $color-accent-primary;
        }
      }

    }
  }
}